<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <title>Notes App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    {%block navbar%}
    <header id="header">
        <h1>Notes</h1>
        <nav id="nav-bar">
            <a href="{% url 'list_notes' %}">Home</a>
            <a href="{% url 'add_note' %}">Create Note</a>
        </nav>
    </header>
    {% endblock %}
    {% block content %}
    {% endblock %}
</body>

</html>